<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pec.reza.amoozesh" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeesActivity"
            android:label="@string/title_activity_fees" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".LatestTrainingCoursesActivity"
            android:label="@string/title_activity_latest_training_courses" >
        </activity>
    </application>

</manifest>
